@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');

/* root: {
  --primary: #ff00b3;
} */

body {
  background-image: url("../public/pokeimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  font-family: 'Lakki Reddy', cursive;
  background-attachment: fixed;
}

/* .hazel-page {
  background-image: url("../public/pokeimage.jpg");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  margin-top: -6.5rem;
  z-index: -1;
  background-attachment: fixed;
} */


.App {
  text-align: center;
}


h1 {
  color: rgb(255, 0, 221);
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
  color: rgb(0, 0, 0);

}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dbf5da;
}
/* tr:nth-child(odd) {
  background-color: #470157;
} */

.hazel-header {
  background-color: #000000;
  height: 10vh;
  width: 100%;
  z-index: 1;
  /* display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   */
  color: white;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2rem;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

}

button{
  background-color: rgb(250, 133, 240);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  border: solid 2px rgb(160, 5, 250);
  font-family: 'Lakki Reddy', cursive;
  font-size: 20px;
}

button:hover {
  /* background-color: #ff00b3; */
  cursor: pointer;
  transform: scale(1.1);
  border: solid 2px pink;
}

.go-home {
  
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  border: solid 2px rgb(183, 0, 255);
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10vh;
}

li {
  display: inline-block;

}

.main-buttons button {
  margin: 50px;
  height: 5rem;
  border-radius: 30px;
  border: solid 5px rgb(153, 0, 255);
}

iframe {
  background-color: white;
  border-radius: 40px;
  border: solid 7px rgb(255, 0, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 83vh;
  width: 99%;
}



.no-game {
  background-color: pink;
  padding: 2rem;
  border: 2px solid rgb(184, 0, 126);
  border-radius: 20px;
  margin: 2rem;
  margin-top: 2rem;

}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-list {
  padding: 2rem;
}

.journal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  background-color: aquamarine;
  max-width: 80vw;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 2rem;
}

.journal-entry {
  padding: 1rem;
}

.journal-form {
  background-color: rgb(255, 212, 94);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60vw;
  border: 1px solid black;
  border-radius: 20px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-form {
  width: 100%;
}

ul {
  width: 100%;
}

.form-item {
  padding: 2rem;
  width: 30rem;
}

input[type=text] {
  padding: 20px;
  border: 1px solid black;
  border-radius: 40px;
  width: 30rem;
}

input[type=date] {
  padding: 0.6rem;
  margin: 2rem;
  width: 12rem;
}

textarea {
  width: 30rem;
  border: 1px solid black;
  border-radius: 40px;
  height: 10rem;
  padding: 2rem;
}

.journal-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: aquamarine;
  max-width: 60vw;
  border: 1px solid black;
  border-radius: 20px;
  padding: 3rem;
  margin: 0 auto;
  margin-top: 2rem;
  
}

.container li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.details-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-menu a {
  margin: 2rem;
}

.daily-verse {
  background-color: rgb(255, 195, 225);
  border: 1px solid black;
  border-radius: 30px;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
}

.daily-verse li, h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.daily-verse h2 {
  border-bottom: solid 3px black;
}