@import url('https://fonts.googleapis.com/css2?family=Lakki+Reddy&display=swap');


body {
  /* background-image: url("../public/pokeimage.jpg"); */
  background-repeat: no-repeat;
  margin: 0 auto;
  font-family: 'Lakki Reddy', cursive;
  background-attachment: fixed;
}

.hazel-page {
  background-image: url("../public/pokeimage.jpg");
  background-repeat: none;
  background-size: cover;
  height: 100vh;
  margin-top: -6.5rem;
  z-index: -1;
}


.App {
  text-align: center;
}





.hazel-header {
  background-color: #ff00b3;
  height: 10vh;
  width: 100%;
  z-index: 1;
  /* display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
   */
  color: white;
}

.nav-items {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: 2rem;
}

.home-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

}

button{
  background-color: rgb(0, 255, 238);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  border: solid 2px rgb(0, 17, 255);
  font-family: 'Lakki Reddy', cursive;
  font-size: 20px;
}

button:hover {
  /* background-color: #ff00b3; */
  cursor: pointer;
  transform: scale(1.1);
  border: solid 4px pink;
}

.go-home {
  
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  border: solid 2px rgb(21, 0, 255);
}

.main-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 10vh;
}

li {
  display: inline-block;

}

.main-buttons button {
  margin: 50px;
  height: 5rem;
  border-radius: 30px;
  border: solid 5px rgb(0, 17, 255);
}

iframe {
  border-radius: 40px;
  border: solid 7px rgb(255, 0, 200);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  height: 83vh;
  width: 99%;
}



.no-game {
  background-color: pink;
  padding: 2rem;
  border: 2px solid rgb(184, 0, 126);
  border-radius: 20px;
  margin: 2rem;
  margin-top: 2rem;

}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-list {
  padding: 2rem;
}

.journal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 7rem;
  background-color: aquamarine;
  max-width: 80vw;
  border: 2px solid black;
  border-radius: 20px;
}

.journal-entry {
  padding: 2rem;
  margin: 2rem;
  background-color: #ff00b3;
  border: 2px solid black;
  border-radius: 20px;
}
